<!--
  References:
  1.
  Title: W3Schools Color Palettes
  https://www.w3schools.com/colors/colors_palettes.asp
  2.
  Title: Color Picker
  https://htmlcolorcodes.com/color-picker/
  3. 
  Title: JSFiddle code sample of background image CSS styling
  http://jsfiddle.net/1f36wedc/
  4.
  Title:JSFiddle code sample of background CSS styling
  Author: norcaljohnny
  https://jsfiddle.net/norcaljohnny/2ne1uao3/
  5.
  Title: Why background image isn't responsive to browser resize
  https://stackoverflow.com/questions/40603858/why-background-image-isnt-responsive-to-browser-resize
-->

{% extends 'housingapp/base_page.html' %}
{%block content %}
{%load static%}
<style>
  .bg {
    background-image: url("{% static 'housingapp/images/thelawn.jpeg' %}");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

  }


  .bg2 {
    background-color: #78DFFC;
    background-size: 1500px 900px;
  }

  .bg3 {
    background: rgb(120, 223, 252, 0.8);
    border-radius: 5px;

  }

  .bg2-additional {
    border-radius: 5px;
  }

  .info-text {
    padding: 0px 5px 0px 5px;
  }

  .social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }

  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }
</style>

<div class="bg2">
  <div class="row h-100 align-items-center py-5">
    <h1 class="text-center" style="text-align: right;">About Us</h1>
  </div>
</div>

<div class="bg">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x m-3 text-primary"></i>
        <h2 class="font-weight-light" style="color:white;">Our Story</h2>
        <div class="bg3">
          <div class="info-text">
            <p class="font-italic mb-4" style="color:black; font-weight:bold; font-size:large; opacity:100%;">Wahoo
              Housing Solutions is being developed by a group of five UVA students in Charlottesville, VA. We are
              excited
              to present this site as an exciting new tool to allow UVA students to browse and find off-grounds housing
              with ease.</p>
          </div>

        </div>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="{% static 'housingapp/images/transparent.jpg' %}" alt="" class="img-fluid mb-4 mb-lg-0" height="30%" width="30%" style="opacity: 0%"></div>

    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="{% static 'housingapp/images/transparent.jpg' %}" alt=""
          class="img-fluid mb-4 mb-lg-0" height="30%" width="30%" style="opacity: 0%;"></div>
      <div class="col-lg-6"><i class=" mb-3 text-primary"></i>
        <h2 class="font-weight-light" style="color:white">Release Date</h2>
        <div class="bg3">
          <div class="info-text">
            <p class="font-italic mb-4" style="color:black; font-weight:bold; font-size:large;">We're working hard to
              implement all of the features that UVA students will love, and we're excited to announce that the official
              release date for our site is December 6, 2021</p>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <div class="bg2 bg2-additional">
            <h2 class="display-4 font-weight-light text-center">Our team</h2>
            <p class="font-italic text-muted text-center">The people behind the website</p>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'housingapp/images/ryan.png' %}" alt=""
              width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Ryan Grayson</h5><span class="small text-uppercase text-muted">Scrum Master</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/ryan-grayson-a490a6191/" target="_blank"
                  rel="noopener noreferrer" class="social-link"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'housingapp/images/anu.png' %}" alt=""
              width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Anubhav Acharya</h5><span class="small text-uppercase text-muted">DevOps Manager</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/anubhav-acharya-619061185/"
                  target="_blank" rel="noopener noreferrer" class="social-link"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'housingapp/images/jennifer.png' %}"
              alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Jennifer Li</h5><span class="small text-uppercase text-muted">UX Designer</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/jennifer-li-linked/" target="_blank"
                  rel="noopener noreferrer" class="social-link"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'housingapp/images/nolan.png' %}" alt=""
              width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Nolan Harris</h5><span class="small text-uppercase text-muted">Testing Manager</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/nolan-harris-nh/" target="_blank"
                  rel="noopener noreferrer" class="social-link"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'housingapp/images/kathia.png' %}"
              alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Kathia Crawford</h5><span class="small text-uppercase text-muted">Requirements
              Manager</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/kathia-crawford-a1ba49202/"
                  target="_blank" rel="noopener noreferrer" class="social-link"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->

      </div>
    </div>
    <div class="bg3">
      <div class="text-center">
        <p style="font-size:xx-large; font-weight: bolder;">Contact email: rtg5xkh@virginia.edu</p>
      </div>
    </div>
  </div>
</div>
{%endblock%}
